* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px
}

body {
  font-family: Roboto,serif;
  font-weight: 400;
  transition: all .5s ease
}
@media (min-width: 1024px) {
  .exams-details {
    margin: 0 0 0 8rem;
  }
}

@media (min-width: 768px) {
  .exams-details-header {
    margin-left: 1.5rem;
    width: 80%;
  }

  .exams-details-header__title {
    text-align: left;
  }
}

.exams-details-header__title {
  font-size: 3.2rem;
  font-weight: 500;
  text-align: center;
}

.exams-details-header__img__olympiads {
  margin-top: 1.2rem;
}

.exams-details-header__logo {
  width: 11.3rem;
  height: 11.3rem;
  border-radius: 50%;
  border: 0.2rem solid #808093;
  padding: 1.5rem;
}

.exams-details-header__logo__without-border {
  border-radius: none;
  border: none;
  padding: 0.5rem;
}

@media (min-width: 1024px) {
  .exams-details {
    transform: scale(1);
  }
}

.exams-details_info-card {
  position: relative;
  margin: 2rem auto;
  width: 90%;
  border-radius: 0.8rem;
}

/* Backgrounds */
.exams-details_info-card.bg-exams-olympiads {
  background-image: linear-gradient(111deg, #111 5%, #181818 43%, #202020 91%);
}

.exams-details_info-card.bg-exams-jee-advance {
  background-image: linear-gradient(126deg, #364082 6%, #285c8f 49%, #2d7a9e 102%);
}

.exams-details_info-card.bg-exams-jee-main {
  background-image: linear-gradient(117deg, #f1846e 6%, #f18870 34%, #f9c98a 90%);
}

.exams-details_info-card.bg-exams-kvpy {
  background-image: linear-gradient(119deg, #26c731 6%, #1fa328 45%, #167d1d 88%);
}

.exams-details_info-card.bg-exams-bitsat {
  background-image: linear-gradient(118deg, #bc7adb 6%, #a449a2 38%, #912b72 78%);
}

.exams-details_info-card.bg-exams-ntse {
  background-image: linear-gradient(119deg, #657be7 6%, #363d9c 43%, #181969 88%);
}

/* Background Image After */
.exams-details_info-card:after {
  position: absolute;
  right: 1rem;
  top: 0;
  content: "";
  width: 9.6rem;
  height: 10rem;
  background-size: cover;
}

/* Background Image URLs */
.exams-details_info-card.bg-exams-olympiads:after {
  background-image: url(/assets/images/idea-bg.png);
}

.exams-details_info-card.bg-exams-jee-advance:after {
  background-image: url(/assets/images/iit-bg.png);
}

.exams-details_info-card.bg-exams-jee-main:after {
  background-image: url(/assets/images/java-bg.png);
}

.exams-details_info-card.bg-exams-kvpy:after {
  background-image: url(/assets/images/java-bg.png);
}

.exams-details_info-card.bg-exams-bitsat:after {
  background-image: url(/assets/images/bitsat-bg.png);
}

.exams-details_info-card.bg-exams-ntse:after {
  background-image: url(/assets/images/idea-bg.png);
}

@media (min-width: 1024px) {
  .exams-details_info-card {
    max-width: 75rem;
    margin: 2rem 0 4rem 5rem;
  }
}

.exams-details_info-card__description {
  color: #fff;
  font-size: 1.4rem;
  padding: 3rem;
  font-weight: 500;
}

.exams-details-about__title {
  font-size: 2rem;
  font-weight: 500;
  padding: 1rem;
}

@media (min-width: 1024px) {
  .exams-details-about__title {
    font-size: 3.2rem;
  }
}

.exams-details-about__subtitle {
  font-size: 1.6rem;
  font-weight: 500;
  padding: 1rem;
}

@media (min-width: 1024px) {
  .exams-details-about__subtitle {
    font-size: 2.4rem;
  }
}

.exams-details-about__description {
  font-size: 1.4rem;
  font-weight: 450;
  color: #808093;
}

@media (min-width: 1024px) {
  .exams-details-about__description {
    font-size: 2rem;
  }
}

.exams-details-about__description p {
  padding: 1rem;
  text-align: left;
}

.exams-details-about__description p strong {
  color: rgba(0, 0, 0, 0.7);
  margin-right: 1rem;
}

.exams-details-about__description a {
  text-decoration: none;
  margin-left: 1rem;
  color: #808093;
}

.exams-details-about__description li {
  padding: 1rem;
  text-align: left;
}

.exams-details-about__description li strong {
  color: rgba(0, 0, 0, 0.7);
  margin-right: 1rem;
}

.exams-details-about__table-data {
  width: 99%;
  padding: 1rem;
  border: 1px solid #808093;
  border-collapse: collapse;
  overflow-x: auto;
}

.exams-details-about__table-data th {
  font-weight: 700;
  border: 1px solid #808093;
  border-collapse: collapse;
  font-size: 1.4rem;
  padding: 1.5rem;
}

@media (min-width: 1024px) {
  .exams-details-about__table-data th {
    font-size: 1.8rem;
  }
}

.exams-details-about__table-data tr {
  border: 1px solid #808093;
  border-collapse: collapse;
  padding: 0.5rem;
}

@media (min-width: 1024px) {
  .exams-details-about__table-data tr {
    padding: 1.5rem;
  }
}

.exams-details-about__table-data td {
  border: 1px solid #808093;
  border-collapse: collapse;
  padding: 0.5rem;
  color: #808093;
  font-size: 1.2rem;
}

@media (min-width: 1024px) {
  .exams-details-about__table-data td {
    padding: 1.5rem;
    font-size: 1.4rem;
  }
}

.exams-details-about__table-data td:nth-child(n+1) {
  text-align: center !important;
}

.exams-details-about__table-data__half-width {
  width: 100%;
}

@media (min-width: 768px) {
  .exams-details-about__table-data__half-width {
    width: 70%;
  }
}

@media (min-width: 1024px) {
  .exams-details-about__table-data__half-width {
    width: 60%;
  }
}

.exams-details-info__title {
  font-size: 2rem;
  font-weight: 400;
  padding: 1rem;
  margin-left: 7%;
}

@media (min-width: 1024px) {
  .exams-details-info__title {
    font-size: 2.4rem;
  }
}

.exams-details-info__description {
  margin-left: 10%;
  position: -webkit-sticky;
  position: sticky;
  top: 5rem;
}

@media (min-width: 1024px) {
  .exams-details-info__description {
    top: 10.2rem;
  }
}

.exams-details-info__description ul {
  list-style: none;
}

.exams-details-info__description ul li {
  background-color: #ffeee6;
  padding: 2rem;
  font-size: 1.2rem;
  border-bottom: 0.1rem solid #fff;
}

@media (min-width: 1024px) {
  .exams-details-info__description ul li {
    font-size: 2rem;
  }
}

.exams-details-info__description ul li a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.7);
}
